{% include "base.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Opprett turarrangement</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>
<div class="container">
    <h1>Opprett turarrangement</h1>
    <form id="eventform" action="{% url 'new_event' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Tittel:</label>
                <input type="text" class="form-control" id="title" name="title" required>
                <span></span>
            </div>
            <div class="form-group">
                <label for="destination">Destinasjon:</label>
                <input type="text" id="destination" class="form-control" name="destination" required>
                <span></span>
            </div>
            <div class="form-group">
                <label for="date">Dato:</label>
                <input type="datetime-local" id="date" class="form-control" name="date" required min={{ datoidag }}>
                <span></span>
                <p>{{ error }}</p>
            </div>

            {% if request.user.seriøsaktør %}
                <div class="form-group">
                    <label for="description">Pris per pers (valgfri):</label>
                    <input rows="10" cols="100" id="pris" class="form-control" name="pris" form="eventform" value="0"></input>
                </div>
            {% endif %}

            <div class="form-group">
                <label for="description">Beskrivelse av turen (valgfri):</label>
                <textarea rows="10" cols="100" id="description" class="form-control" name="description" form="eventform"></textarea>
            </div><div class="form-group">
            <p>Last opp et bilde!</p></br>
                <input type="file" name="upload" accept="image/*">
        </div>

            <div class="form-group">
                <label for="grad">Vanskelighetsgrad:</label>
                <select class="form-control" id="grad" name="grad" form="eventform">
                    <option value="Enkel">Enkel</option>
                    <option value="Middels">Middels</option>
                    <option value="Krevende">Krevende</option>
                    <option value="Ekstra Krevende">Ekstra Krevende</option>
                </select>
            </div>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#tillegsinfo" aria-expanded="false"
            aria-controls="collapseExample">Vis tillegsinfo</button>

            <div class="collapse" id="tillegsinfo">
                <div class="form-group">
                    <label for="utstyr">Utstyr som kreves (valgfri):</label>
                    <input type="text" class="form-control" id="utstyr" name="utstyr" form="eventform"></textarea>
                </div>

                <div class="form-group">
                    <label for="terreng">Turens terreng (valgfri):</label>
                    <input type="text" class="form-control" id="terreng" name="terreng" form="eventform"></textarea>
                </div>

                <div class="form-group">
                    <label for="lengde">Lengde i km (valgfri):</label>
                    <input type="number" class="form-control" id="lengde" name="lengde" form="eventform"></textarea>
                </div>
            </div>
        <button type="submit" class="btn btn-success">
            Send inn!
        </button>
    </form>
</div>
</body>