{% include 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!DOCTYPE html>
<html>
<head></head>
<body>
<div class="row col-6 offset-1 ">
    <a href="../turer">
        <input type="button" value="Gå tilbake" class="btn btn-outline-success btn-sm" />
    </a>
</div>
<div class="row col-8 offset-2 bg-light">
    {% if exists %}
        <div class="container">

        <h1> {{ title }}</h1>
        <i><p><font size="-1"> Dato: {{ date }} </font></p>
            <p><font size="-1"> Arrangør: {{ arrangør }} </font></p>
            <p><font size="-1"> Destinasjon: {{ destination }} </font></p>
        </i>
        <br>
        <p> {{ description }}</p>
        {% if request.user.is_authenticated %}
        {% if not request.user.seriøsaktør %}
        {% if not påmeldt %}
        <a class="btn btn-success" role="button" href= '../event_page/register_events?id={{id}}'>
            Meld på tur
        </a>
        {% else %}
            <a class="btn btn-danger" role="button" href="../event_page/register_events?id={{id}}">
            Meld av tur
            </a>
            {% endif %}
            {% endif %}
            {% endif %}
    {% else %}
        <h1>Arrangementet finnes ikke</h1>
    {% endif %}
    </div>
    <div>
</body>
</html>