{% include 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!DOCTYPE html>
<html>
<head></head>
<body>
<div class="row col-6 offset-1 ">
    <a href="../turer"><input type="button" value="Gå tilbake" class="btn btn-outline-success btn-sm" /></a>
</div>
<div class="row col-8 offset-2 bg-light">
    {% if exists %}
        <div class="container">

        <h1> {{ title }}</h1>
        <i><p><font size="-1"> Dato: {{ date }} </font></p>
            <p><font size="-1"> Arrangør: {{ arrangør }} </font></p>
            <p><font size="-1"> Destinasjon: {{ destination }} </font></p>
        </i>
        <br>
        <p> {{ description }}</p>
        {% if True%}
        <button class="btn btn-success" type="button">
            Meld på tur
        </button>
        {% else %}
            <button class="btn btn-danger" type="button">
            Meld av tur
        </button>
            {% endif %}
    {% else %}
        <h1>Arrangementet finnes ikke</h1>
    {% endif %}
    </div>
    <div>
</body>
</html>