{% include 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!DOCTYPE html>
<html>
<head></head>
<body>
<div class="row col-6 offset-1 ">
    <a href="../turer">
        <input type="button" value="Gå tilbake" class="btn btn-outline-success btn-sm"/>
    </a>
</div>
<div class="row col-8 offset-2 bg-light">
    {% if exists %}
        <div class="container">
        {% if bilde.exists %}
        <img class="card-img-top" style="max-width: 35rem; float: right" src="/static/images/{{ bilde }}"
             alt="Card image cap">
        {% endif %}
        <h1> {{ title }}</h1>
        <i><p><font size="-1"> Dato: {{ date }} </font></p>
            <p><font size="-1"> Arrangør: {{ arrangør }} </font></p>
            <p><font size="-1"> Destinasjon: {{ destination }} </font></p>
            <p><font size="-1"> Vanskelighetsgrad: {{ grad }} </font></p>
            <p><font size="-1"> Utstyr: {{ utstyr|default:"ikke spesifisert" }} </font></p>
            <p><font size="-1"> Terreng: {{ terreng|default:"ikke spesifisert" }} </font></p>
            <p><font size="-1">Lengde: {{ lengde|default_if_none:"ikke spesifisert" }}</font></p>

        </i>
        <br>
        <h4>Beskrivelse</h4>
        <p> {{ description }}</p>
        {% if request.user.is_authenticated %}
            {% if stillAvailable %}
                {% if not request.user.seriøsaktør %}
                    {% if not påmeldt %}
                        <a class="btn btn-success" role="button" href='../event_page/register_events?id={{ id }}'>
                            Meld på tur
                        </a>
                    {% else %}
                        <a class="btn btn-danger" role="button" href="../event_page/register_events?id={{ id }}">
                            Meld av tur
                        </a>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if arrangør_username == request.user.username or request.user.is_superuser %}
                <a class="btn btn-danger" role="button" href="../../delete_event?id={{ id }}">Slett arrangement</a>
                <a class="btn btn-secondary" role="button" href="../../edit_event?id={{ id }}">Rediger arrangement</a>
            {% endif %}
        {% endif %}
        {% if påmeldt %}
            <div class="container" style="margin-top: 5%;">
                <h4>Påmeldte:</h4>
                {% block content %}
                    {% for registrert in registrert %}
                        <p>{{ registrert.user_pk }}</p>
                    {% endfor %}
                {% endblock %}
            </div>
        {% endif %}

    {% else %}
        <h1>Arrangementet finnes ikke</h1>

    {% endif %}
    {% if not request.user.is_authenticated %}
        <p><em>Du må være pålogget for å melde deg på et arrangement!</em></p>
    {% endif %}
    </div>
    <div>
</body>
</html>