form > div> *{
    position: relative;
    display: inline-block;
}

form > div > label{
    display: block;
}

input + span{
    display: inline-block;
}

input:valid + span::before{
    content: '✓';
    color: green;
}

input:invalid + span::before{
    content: '✖';
    color: red;
}