{% include 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
  {% load static %}
  <img src="{% static 'images/splashbilde.png' %}" class = "img-fluid" style="max-width: 100%; height: auto;" alt="">
</div>
<div class="jumbotron">
    <h1 class="display-4">TippToppTur</h1>
    <p class="lead">Finn din perfekte tur og dine nye turkamerater!</p>
    <hr class="my-4">
      <a class="btn btn-success btn-lg" href="#" role="button">Bli med!</a>
    </p>
</div>