{% include 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="card-deck">
<div class="card mx-auto" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tur til Geitfjellet</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-success">Se detaljer</a>
    </div>
  </div>

  <div class="card mx-auto" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tur til Bymarka</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-success">Se detaljer</a>
    </div>
  </div>
</div>