{% include 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="align-items-center">
<form class>
    <div class="form-group">
      <label for="exampleInputEmail1">Brukernavn</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Skriv inn brukernavn">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Passord</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Passord">
    </div>
    <button type="submit" class="btn btn-success">Logg inn</button>
  </form>
</div>
<div class="align-items-center">
    <p class="text-justify">Har du ikke bruker?</p>
    <button type="submit" class="btn btn-success">Lag ny!</button>
</div>