{% include 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .login {
    width: 100%;
  }
</style>
<div class="container">
  <div class="row col-sm-8 offset-2">
    <h1>Innlogging</h1>
  <form class="container">
      <div class="form-group">
        <label for="exampleInputEmail1">Brukernavn</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Skriv inn brukernavn">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Passord</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Skriv inn passord">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success login">Logg inn</button>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-secondary login">Registrer deg</button>
      </div>
  </form>
  </div>
</div>