{% include 'base.html' %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Opprett turarrangement</title>
    </head>
    
    <body>
    {% if not request.user.is_authenticated %}
        <div class="container">
        <h1>Opprett user</h1>
        <form id="eventform" action="{% url 'register_user' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Brukernavn (innlogging):</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <span></span>
            </div>
            <div class="form-group">
                <label for="username">E-mail:</label>
                <input type="email" class="form-control" id="mail" name="mail" required>
                <span></span>
            </div>
            <div class="form-group">
                <label for="username">Fullt navn:</label>
                <input type="text" class="form-control" id="navn" name="navn" required>
                <span></span>
            </div>
            <div class="form-group">
                <label for="password">Passord:</label>
                <input type="password" id="password" class="form-control" name="password" required>
                <span></span>
            </div>
            <div class="form-group">
                <label for="password2">Gjenta passord:</label>
                <input type="password" id="password2" class="form-control" name="password2" required>
                <span></span>
            </div>
    
    <button type="submit" class="btn btn-success">
        Send inn!
    </button>
        </form>
        <p>{{ error }}</p>
        </div>
    {% endif %}

    </body>
</html>
